<div class="row p-3 screen-background">

  <div class="col-md-3">
    <div class="card shadow tasks mb-4">
      <div class="card-body">
      <div class="search-options mt-5">

      </div>
        <ul>
          <li
            *ngFor="let event of externalEvents"
            mwlDraggable
            [dropData]="{event: event}"
            class="p-2 m-2 shadow"
            style="position:relative; z-index: 10"
            >
            <a
              href="javascript:;"
              [style.color]="event.color.primary">
              {{ event.title }}
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="card shadow p-3 new-event">

    </div>
  </div>

  <div class="col-md-9">
    <div class="card shadow p-3 mb-4 chart-tasks">
      chart goes here
    </div>
    <div class="card shadow p-3 calendar">
      <app-demo-utils-calendar-header
        [(view)]="view"
        [(viewDate)]="viewDate">
      </app-demo-utils-calendar-header>

      <div [ngSwitch]="view">
        <mwl-calendar-month-view
          *ngSwitchCase="'month'"
          [viewDate]="viewDate"
          [events]="events"
          [activeDayIsOpen]="activeDayIsOpen"
          [refresh]="refresh"
          (eventTimesChanged)="eventDropped($event)">
        </mwl-calendar-month-view>
        <mwl-calendar-week-view
          *ngSwitchCase="'week'"
          [viewDate]="viewDate"
          [events]="events"
          [refresh]="refresh"
          (eventTimesChanged)="eventDropped($event)">
        </mwl-calendar-week-view>
        <mwl-calendar-day-view
          *ngSwitchCase="'day'"
          [viewDate]="viewDate"
          [events]="events"
          [refresh]="refresh"
          (eventTimesChanged)="eventDropped($event)">
        </mwl-calendar-day-view>
      </div>
    </div>
  </div>

</div>
